.DS_Store
/node_modules
/public/storage
/public/hot
/storage/*.key
/storage/logs/*.log
/storage/debugbar
/storage/app/*
/storage/temp
/storage/files
/vendor
/.idea
/packages
Homestead.json
Homestead.yaml
npm-debug.log
.env
/.vagrant
/html
/tests/analysis
_ide_helper.php
build/logs
build/badges/*.svg
build/coverage
.vscode
/public/vendor/horizon