.content-grid {
    display: grid;
    grid-template-areas:
            '.'
            'main-grid'
            'divider'
            'instagram-grid'
            '.';
    height: 100%;
    grid-gap: 30px;
}

.content-grid .main-grid{
    grid-area: main-grid;
}

.content-grid .divider{
    grid-area: divider;
    height: 50px;
    background-color: #ced4da;
}

.content-grid .instagram-grid{
    grid-area: instagram-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 440px));
    grid-auto-flow: dense;
    grid-gap: 30px;
    justify-content: center;
}

.content-grid .instagram-grid img{
    width: 100%;
}