@media all and (min-width: 768px) AND (min-device-width: 1080px) {
    .container-grid .header-grid {
        grid-area: header-grid;
        display: grid;
        height: 100%;
        grid-template-areas: 'leather builds tools';
        grid-template-columns: repeat(3, 1fr);
    }

    .container-grid .menu-grid{
        grid-template-areas: '. logo nav-grid .';
        grid-template-columns: 20px repeat(2, 1fr) 20px;
    }

    .container-grid .menu-grid .logo{
        grid-area: logo;
        margin: 15px 0px 0px 0px;
        height: 100%;
    }

    .container-grid .menu-grid .nav-grid{
        grid-area: nav-grid;
        grid-template-columns: repeat(auto-fit, 100px);
        grid-gap: 0px;
        justify-content: right;
        align-content: start;
        margin-top: 20px;
    }

    .container-grid .menu-grid .nav-grid a{
        font-size: 18pt;
    }

    .container-grid .footer-grid {
        grid-template-columns: repeat(4, minmax(200px, 400px));
    }

    .container-grid .footer-grid .links ul li{
        border-bottom: none;
    }

    .container-grid .divider {
        font-size: 25pt;
    }

    .container-grid .content-grid {
        grid-area: content;
        padding: 50px;
        background-color: lightgray;
    }
}