@media all and (min-device-width: 768px) AND (min-width: 1080px) {
    .container-grid .header-grid {
        grid-area: header-grid;
        display: grid;
        height: 100%;
        grid-template-areas: 'tutorials builds cruises';
        grid-template-columns: repeat(3, 1fr);
    }

    .container-grid .menu-grid{
        grid-template-areas: '. logo nav-grid .';
        grid-template-columns: 20px repeat(2, 1fr) 20px;
    }

    .container-grid .menu-grid .logo{
        grid-area: logo;
        margin: 15px 0px 0px 0px;
        height: 100%;
    }

    .container-grid .menu-grid .nav-grid{
        grid-area: nav-grid;
        grid-template-columns: repeat(auto-fit, 100px);
        grid-gap: 0px;
        justify-content: right;
        align-content: start;
        margin-top: 20px;
    }

    .container-grid .menu-grid .nav-grid a{
        font-size: 18pt;
    }

    .container-grid .footer-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}