html, body {
    background-size: 100%;
    color: #636b6f;
    font-family: 'Teko', sans-serif;
    font-weight: 100;
    font-size: 30pt;
    height: 100vh;
    margin: 0;
}

a{
    color: white;
}

.content {
    text-align: center;
}

.container-grid {
    display: grid;
    grid-template-areas:
            'menu-grid'
            'header-grid'
            'divider'
            'content'
            'footer';
    grid-template-rows: 150px auto 55px 1fr auto;
}

.container-grid .menu-grid{
    grid-area: menu-grid;
    display: grid;
    grid-template-areas:
            '. logo .'
            '. nav-grid .';
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 110px 34px;
    background-color: #383838;
}

.container-grid .menu-grid .logo{
    grid-area: logo;
    background: url('/img/logos/BalkanMotoLogo_1000x267_white.png') no-repeat center;
    background-size: contain;
    width: 100%;
    max-width: 380px;
    margin: 10px auto 0px auto;
    cursor: pointer;
}

.container-grid .menu-grid .nav-grid{
    grid-area: nav-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(34px, 48px));
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
}

.container-grid .menu-grid .nav-grid a{
    text-decoration: none;
    font-size: 12pt;
    color: #cbcbcb;
}

.container-grid .menu-grid .nav-grid a:hover{
    text-decoration: none;
    color: white;
}

.container-grid .header-grid {
    grid-area: header-grid;
    display: grid;
    height: 100%;
    grid-template-areas:
            'tutorials'
            'builds'
            'cruises';
    grid-template-columns: 1fr;
}

.container-grid .header-grid .tutorials {
    grid-area: tutorials;
    height: 0px;
    padding-bottom: 66.66%;
    background: url('/img/header/tutorials_1080x720.jpg') center;
    background-size: cover;
}

.container-grid .header-grid .overlay {
    background-color: rgba(56,56,56,0.7);
    display: none;
    vertical-align: middle;
    cursor: pointer;
}

.container-grid .header-grid .overlay .overlay-text {
    color: white;
    font-size: 20pt;
    align-self: center;
}

.container-grid .header-grid .tutorials-overlay {
    grid-area: tutorials;
}

.container-grid .header-grid .tutorials:hover + .tutorials-overlay{
    display: grid;
}

.container-grid .header-grid .tutorials-overlay:hover {
    display: grid;
}

.container-grid .header-grid .builds-overlay {
    grid-area: builds;
}

.container-grid .header-grid .builds:hover + .builds-overlay{
    display: grid;
}

.container-grid .header-grid .builds-overlay:hover {
    display: grid;
}

.container-grid .header-grid .cruises-overlay {
    grid-area: cruises;
}

.container-grid .header-grid .cruises:hover + .cruises-overlay{
    display: grid;
}

.container-grid .header-grid .cruises-overlay:hover {
    display: grid;
}

.container-grid .header-grid .builds {
    grid-area: builds;
    height: 0px;
    padding-bottom: 66.66%;
    background: url('/img/header/builds_1080x720.jpg') center;
    background-size: cover;
}

.container-grid .header-grid .cruises {
    grid-area: cruises;
    height: 0px;
    padding-bottom: 66.66%;
    background: url('/img/header/cruises_1080x720.jpg') center;
    background-size: cover;
}

.container-grid .divider {
    grid-area: divider;
    height: 55px;
    line-height: 55px;
    background-color: #ced4da;
    font-size: 25pt;
}

.container-grid .content-grid {
    grid-area: content;
}

.container-grid .footer-grid {
    grid-area: footer;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(280px, 700px));
    background-color: #383838;
    justify-content: center;
    padding: 20px;
    grid-column-gap: 20px;
}

.container-grid .footer-grid .footer-title {
    font-size: 24pt;
    color: white;
    text-align: left;
    margin-bottom: 10px;
    vertical-align: top;
}

.container-grid .footer-grid .tweeter .tweets .tweet{
    display: grid;
    grid-template-areas:
            'image name'
            'image handle'
            'message message';
    grid-template-columns: 50px 1fr;
    grid-template-rows: repeat(2, 20px) 1fr;
    grid-gap: 10px;
}

.container-grid .footer-grid .tweeter .tweets .tweet img{
    grid-area: image;
}

.container-grid .footer-grid .tweeter .tweets .tweet .name{
    grid-area: name;
    font-size: 20pt;
    color: #cbcbcb;
    justify-self: left;
}

.container-grid .footer-grid .tweeter .tweets .tweet .handle{
    grid-area: handle;
    font-size: 18pt;
    color: #d8d8e2;
    justify-self: left;
}

.container-grid .footer-grid .tweeter .tweets .tweet .handle a{
    color: white;
    text-decoration: none;
}

.container-grid .footer-grid .tweeter .tweets .tweet .message{
    grid-area: message;
    font-size: 16pt;
    color: #cbcbcb;
    justify-self: left;
    text-align: left;
}

.container-grid .footer-grid .links ul {
    list-style-type: none;
    text-align: left;
    margin: 0px;
    padding: 0px;
}

.container-grid .footer-grid .links ul li{
    font-size: 16pt;
    border-bottom: 1px solid gray;
}

.container-grid .footer-grid .links ul li a{
    text-decoration: none;
    color: #cbcbcb;
}

.container-grid .footer-grid .links ul li a:hover{
    color: white;
}

.container-grid .footer-grid .social .icons{
     display: grid;
     grid-template-columns: repeat(auto-fit, 45px);
}

.container-grid .footer-grid .social .icons a{
    color: #cbcbcb;
}

.container-grid .footer-grid .social .icons a:hover{
    color: white;
}

.content-grid .pagination{
    grid-area: pagination;
    list-style: none;
    padding: 0px;
    margin: 20px 0px 0px 0px;
}

.content-grid .pagination li{
    display: inline-block;
}

.content-grid .pagination a{
    text-decoration: none;
    color: #a1a1a1;
    font-size: 20pt;
}

.content-grid .pagination a:hover{
    color: #636b6f;
}

.content-grid .pagination a.active{
    font-weight: bold;
    color: #636b6f;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    display:none !important;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
