html, body {
    background-size: 100%;
    color: #636b6f;
    font-family: 'Teko', sans-serif;
    font-weight: 100;
    font-size: 30pt;
    height: 100vh;
    margin: 0;
}

a{
    color: white;
}

.content {
    text-align: center;
}

.container-grid {
    display: grid;
    grid-template-areas:
            'menu-grid'
            'header-grid'
            'content'
            'footer';
    grid-template-rows: 150px auto 1fr auto;
}

.container-grid .menu-grid{
    grid-area: menu-grid;
    display: grid;
    grid-template-areas: '. item .';
    grid-template-columns: 20px 1fr 20px;
    background-color: black;
}

.container-grid .menu-grid .logo{
    grid-area: item;
    background: url('/img/logos/BalkanMotoLogo_1000x267_white.png') no-repeat center;
    background-size: contain;
    height: 100px;
    grid-row: 1 / 2;
}

.container-grid .menu-grid .nav-grid{
    grid-area: item;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(72px, 1fr));
    grid-gap: 10px;
    justify-content: center;
    height: 24px;
}

.container-grid .menu-grid .nav-grid a{
    text-decoration: none;
    font-size: 14pt;
}

.container-grid .menu-grid .nav-grid a:hover{
    text-decoration: none;
    color: lime;
}

.container-grid .header-grid {
    grid-area: header-grid;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
}

.container-grid .header-grid .tutorials {
    //grid-area: header;
    height: 0px;
    padding-bottom: 66.66%;
    background: url('/img/header/tutorials_1080x720.jpg') no-repeat center;
    background-size: contain;
    grid-row: 1 / 2 ;
}

.container-grid .header-grid .builds {
    //grid-area: header;
    height: 0px;
    padding-bottom: 66.66%;
    background: url('/img/header/builds_1080x720.jpg') no-repeat center;
    background-size: contain;
    grid-row: 2 / 3 ;
}

.container-grid .header-grid .youtube {
    //grid-area: header;
    height: 0px;
    padding-bottom: 66.66%;
    background: url('/img/header/youtube_1080x720.jpg') no-repeat center;
    background-size: contain;
    grid-row: 3 / 4;
}

.container-grid .content-grid {
    grid-area: content;
}

.container-grid .footer-grid {
    grid-area: footer;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(320px, 700px));
    background-color: #383838;
    justify-content: center;
    padding: 20px;
    grid-column-gap: 20px;
}

.container-grid .footer-grid .footer-title {
    font-size: 16pt;
    color: lime;
    text-align: left;
    margin-bottom: 10px;
}

.container-grid .footer-grid .tweeter .tweets .tweet{
    display: grid;
    grid-template-areas:
            'image name'
            'image handle'
            'message message';
    grid-template-columns: 50px 1fr;
    grid-template-rows: repeat(2, 20px) 1fr;
    grid-gap: 10px;
}

.container-grid .footer-grid .tweeter .tweets .tweet img{
    grid-area: image;
}

.container-grid .footer-grid .tweeter .tweets .tweet .name{
    grid-area: name;
    font-size: 14pt;
    font-weight: bold;
    color: white;
    justify-self: left;
}

.container-grid .footer-grid .tweeter .tweets .tweet .handle{
    grid-area: handle;
    font-size: 14pt;
    color: #d8d8e2;
    justify-self: left;
}

.container-grid .footer-grid .tweeter .tweets .tweet .handle a{
    color: #d8d8e2;
    text-decoration: none;
}

.container-grid .footer-grid .tweeter .tweets .tweet .message{
    grid-area: message;
    font-size: 12pt;
    color: white;
    justify-self: left;
}

.container-grid .footer-grid .links ul {
    list-style-type: none;
    text-align: left;
    margin: 0px;
    padding: 0px;
}

.container-grid .footer-grid .links ul li{
    font-size: 12pt;
    border-bottom: 1px solid gray;
}

.container-grid .footer-grid .links ul li a{
    text-decoration: none;
}

.container-grid .footer-grid .links ul li a:hover{
    color: lime;
}

.container-grid .footer-grid .social .icons{
    display: grid;
    grid-template-columns: repeat(auto-fit, 45px);
}




