html, body {
    background-size: 100%;
    color: #636b6f;
    font-family: 'Teko', sans-serif;
    font-weight: 100;
    font-size: 30pt;
    height: 100vh;
    margin: 0;
}

.content {
    text-align: center;
}

.container-grid {
    display: grid;
    grid-template-areas:
            'menu-grid'
            'header-grid'
            'content'
            'footer';
    grid-template-rows: 300px auto 1fr 200px;
}

.container-grid .menu-grid{
    grid-area: menu-grid;
    display: grid;
    grid-template-areas: '. logo .';
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 1fr;
    background-color: black;
}

.container-grid .menu-grid .logo{
    grid-area: logo;
    background: url('/img/BalkanMotoLogo_1000x267_white.png') no-repeat center;
    background-size: contain;
    grid-column: 2 / 3;
}

.container-grid .menu-grid .nav-grid{
    display: none;
    grid-column: 2 / 3;
}

.container-grid .header-grid {
    grid-area: header-grid;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
}

.container-grid .header-grid .tutorials {
    //grid-area: header;
    height: 0px;
    padding-bottom: 66.66%;
    background: url('/img/header/tutorials_1080x720.jpg') no-repeat center;
    grid-row: 1 / 2 ;
}

.container-grid .header-grid .builds {
    //grid-area: header;
    height: 0px;
    padding-bottom: 66.66%;
    background: url('/img/header/builds_1080x720.jpg') no-repeat center;
    grid-row: 2 / 3 ;
}

.container-grid .header-grid .youtube {
    //grid-area: header;
    height: 0px;
    padding-bottom: 66.66%;
    background: url('/img/header/youtube_1080x720.jpg') no-repeat center;
    grid-row: 3 / 4;
}

.container-grid .content-grid {
    grid-area: content;
}

.container-grid .footer-grid {
    grid-area: footer;
    display: grid;
    grid-template-areas:
            '. . . . .'
            '. tweets links social .';
            '. . . . .'
    height: 100%;
    grid-template-columns: 20px repeat(3, 320px) 20px;
    grid-template-rows: 1fr 150px 1fr;
    background-color: #383838;
    grid-gap: 20px;

}

.container-grid .footer-grid .tweets {
    grid-area: tweets;
    grid-column: 2 / 3;
}

.container-grid .footer-grid .links {
    grid-area: tweets;
    grid-column: 3 / 4;
}

.container-grid .footer-grid .social {
    grid-area: tweets;
    grid-column: 4 / 5;
}

.container-grid .footer-grid .footer-title {
    font-size: 16pt;
    color: chartreuse;
    text-align: left;
    margin-bottom: 10px;
}

.container-grid .footer-grid ul {
    list-style-type: none;
    text-align: left;
    margin: 0px;
    padding: 0px;
}

.container-grid .footer-grid ul li {
    font-size: 12pt;
    color: white;
}