@media all and (min-width: 768px) AND (min-device-width: 1080px) {
    .container-grid .content-grid {
        margin: 0px auto;
        padding: 50px;
    }

    .container-grid .content-grid .main-grid {
        grid-template-columns: repeat(3, minmax(328px, 500px));
        grid-gap: 50px;
    }

    .content-grid .main-grid .post-grid{
        grid-template-rows: 5fr 2fr;
    }
}