.content-grid {
    margin: 20px;
}

.content-grid form input{
    display: block;
    padding: 5px;
    line-height: 25px;
}

.content-grid form{
    display: grid;
    grid-template-areas:
            'publishedLabel isPublished'
            'featuredLabel isFeatured'
            'slugLabel slug'
            'imageLabel image'
            'titleLabel title'
            'body body'
            'tagsLabel tags'
            'buttons buttons';
    grid-template-columns: 60px 1fr;
    grid-gap: 10px;
    font-size: 14pt;
}

.content-grid form .isPublished {
    grid-area: isPublished;
}

.content-grid form label {
    justify-self: left;
    align-self: center;
}

.content-grid form label, .content-grid form a{
    color: #a1a1a1;
}

.content-grid form .publishedLabel {
    grid-area: publishedLabel;
}

.content-grid form .featuredLabel {
    grid-area: featuredLabel;
}

.content-grid form .isFeatured {
    grid-area: isFeatured;
}

.content-grid form .slugLabel {
    grid-area: slugLabel;
}

.content-grid form #slug {
    grid-area: slug;
}

.content-grid form .imageLabel {
    grid-area: imageLabel;
}

.content-grid form #image {
    grid-area: image;
}

.content-grid form .titleLabel {
    grid-area: titleLabel;
}

.content-grid form #title {
    grid-area: title;
}

.content-grid form .mce-panel {
    grid-area: body;
}

.content-grid form .tagsLabel {
    grid-area: tagsLabel;
}

.content-grid form #tags {
    grid-area: tags;
}

.content-grid form .buttons{
    grid-area: buttons;
    display: grid;
    grid-template-areas: '. submit cancel';
    grid-template-columns: 1fr repeat(2, 75px);
    grid-gap: 10px;
    justify-items: right;
}

.content-grid form #submit {
    grid-area: submit;
    background-color: #008CBA;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 100%;
}

.content-grid form #cancel {
    grid-area: cancel;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 100%;
}

.content-grid .post-grid{
    display: grid;
    grid-template-areas:
            'image'
            'title'
            'date'
            'summary'
            'tags';
    grid-template-columns: 1fr;
}

.content-grid .post-grid img{
    grid-area: image;
    width: 100%;
}

.content-grid .post-grid .title{
    grid-area: title;
    color: #636b6f;
    font-size: 18pt;
    text-align: left;
}

.content-grid .post-grid .title a{
    text-decoration: none;
    color: #636b6f;
}

.content-grid .post-grid .date{
    grid-area: date;
    font-size: 16pt;
    color: lightgray;
    text-align: left;
}

.content-grid .post-grid .body{
    grid-area: summary;
    font-size: 16pt;
    text-align: justify;
}

.content-grid .post-grid .body p{
    margin: 0px 0px 20px 0px;
    text-indent: 30px;
}

.content-grid .post-grid .body a{
    color: #636b6f;
}

.content-grid .tags{
    font-size: 16pt;
    color: lightgray;
    text-align: justify;
}

.content-grid .post-grid .tags .tag{
    display: inline-block;
}

.content-grid .post-grid .tags .tag a{
    text-decoration: none;
    color: lightgray;
}

.content-grid .post-grid .tags .tag a:hover{
    text-decoration: underline;
}