.container-grid .content-grid {
    margin: 20px;
    background-color: white;
    box-shadow: 5px 5px 10px darkgray;
}

.container-grid .content-grid .post-grid{
    display: grid;
    grid-template-areas:
            'title'
            'body';
    grid-template-columns: 1fr;
}

.container-grid .content-grid .post-grid img{
    grid-area: image;
    width: 100%;
}

.container-grid .content-grid .post-grid .title{
    grid-area: title;
    color: #636b6f;
    font-size: 1.25em;
    text-align: left;
    line-height: 50px;
}

.container-grid .content-grid .post-grid .title a{
    text-decoration: none;
    color: #636b6f;
}

.container-grid .content-grid .post-grid .body{
    grid-area: body;
    font-size: 16pt;
    text-align: justify;
}

.container-grid .content-grid .post-grid .body .route-details {
    display: grid;
    grid-template-areas: 'logo stats';
    grid-template-columns: 5fr 4fr;
    margin-top: 50px;
}

.container-grid .content-grid .post-grid .body .route-details h4{
    margin-top: 0px;
    margin-bottom: 5px;
}

.container-grid .content-grid .post-grid .body .route-details p{
    margin: 0;
}

.container-grid .content-grid .post-grid .body .route-details .route-logo{
    grid-area: logo;
    width: 100%
}

.container-grid .content-grid .post-grid .body .route-details .route-stats{
    grid-area: stats;
    padding: 0px 20px;
}

.container-grid .content-grid .post-grid .body .route-details .route-stats label{
    font-weight: bold;
}

.container-grid .content-grid .post-grid .body .route-details .route-stats span{
    margin-left: 10px;
}

.container-grid .content-grid .post-grid .body .video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.container-grid .content-grid .post-grid .body .video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.container-grid .content-grid .post-grid .body a{
    color: #a1a1a1;
}

.container-grid .content-grid .post-grid .body a:hover{
    color: #636b6f;
}