.content-grid {
    display: grid;
    grid-template-areas:
            'divider1'
            'main-grid'
            'divider2'
            'instagram-grid';
    height: 100%;
    grid-gap: 20px;
}

.content-grid .main-grid{
    grid-area: main-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 690px));
    grid-gap: 20px;
    justify-content: center;
    padding: 0px 20px;
}

.content-grid .main-grid .post-grid{
    display: grid;
    grid-template-areas:
            'image'
            'title'
            'date'
            'summary';
    grid-template-columns: 1fr;
}

.content-grid .main-grid .post-grid img{
    grid-area: image;
    width: 100%;
}

.content-grid .main-grid .post-grid .title{
    grid-area: title;
    color: #636b6f;
    font-size: 24pt;
    text-align: left;
}

.content-grid .main-grid .post-grid .title a{
    text-decoration: none;
    color: #636b6f;
}

.content-grid .main-grid .post-grid .date{
    grid-area: date;
    font-size: 20pt;
    text-align: left;
    color: lightgray;
}

.content-grid .main-grid .post-grid .summary{
    grid-area: summary;
    font-size: 16pt;
    text-align: left;
}

.content-grid .main-grid .post-grid .summary a{
    color: #636b6f;
}

.content-grid .divider{
    height: 55px;
    line-height: 55px;
    background-color: #ced4da;
    font-size: 25pt;
}

.content-grid .divider1{
    grid-area: divider1;
}

.content-grid .divider2{
    grid-area: divider2;
}

.content-grid .instagram-grid{
    grid-area: instagram-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 410px));
    grid-auto-flow: dense;
    grid-gap: 20px;
    justify-content: center;
    padding: 0px 20px 20px 20px;
}


.content-grid .instagram-grid .post-grid{
    border: 1px solid black;
    padding-bottom: 100%;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}