.container-grid {
    grid-template-areas:
            'menu-grid'
            'header-grid'
            'content'
            'footer';
    grid-template-rows: 150px auto 1fr auto;
}

.container-grid .content-grid {
    display: grid;
    grid-template-areas:
            'welcome'
            'builds-grid'
            'other-grid';
    grid-gap: 20px;
    box-shadow: none;
}

.container-grid .content-grid .welcome{
    grid-area: welcome;
    text-align: left;
    padding: 0px 20px;
    background-color: white;
    box-shadow: 5px 5px 10px darkgray;
    font-size: 18pt;
}

.container-grid .content-grid .welcome h2{
    text-align: center;
    margin: 25px 0px;
}

.container-grid .content-grid .builds-grid{
    grid-area: builds-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 690px));
    grid-gap: 20px;
    justify-content: center;
}

.container-grid .content-grid .builds-grid .build, .container-grid .content-grid .other-grid .other{
    display: grid;
    grid-template-areas:
            'image'
            'title';
    grid-template-columns: 1fr;
    background-color: white;
    box-shadow: 5px 5px 10px darkgray;
    padding: 25px;
}

.container-grid .content-grid .builds-grid .build img, .container-grid .content-grid .other-grid .other img{
    grid-area: image;
    width: 100%;
    margin-bottom: 20px;
}

.container-grid .content-grid .builds-grid .build .title, .container-grid .content-grid .other-grid .other .title{
    grid-area: title;
    color: #636b6f;
    font-size: 24pt;
    text-align: left;
}

.container-grid .content-grid .builds-grid .build .title a, .container-grid .content-grid .other-grid .other .title a{
    text-decoration: none;
    color: #636b6f;
}

.container-grid .content-grid .other-grid {
    grid-area: other-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 690px));
    grid-gap: 20px;
}
