@media all and (min-width: 768px) AND (min-device-width: 1080px) {
    .container-grid .content-grid {
        text-align: justify;
        margin: 25px auto;
        padding: 0;
        font-size: 16pt;
        max-width: 800px;
    }

    .container-grid .link .box {
        width: 400px;
    }
}