@media all and (min-width: 768px) AND (min-device-width: 1080px) {
    .content-grid {
        text-align: justify;
        margin: 20px 0px;
        font-size: 16pt;
        max-width: 100%;
    }

    .content-grid #info {
        margin: 0px auto;
        max-width: 1200px;
    }

    .content-grid p {
        margin: 0px 0px 10px 0px;
        text-indent: 30px;
    }

    .content-grid #canvas {
        display: block;
        width: 1200px;
        height: 840px;
        margin: 0px auto;
    }

    .slider:before {
        display: none;
    }

    #small-screen-warning {
        display: none;
    }
}