@media all and (min-width: 768px) AND (min-device-width: 1080px) {
    .container-grid .content-grid {
        text-align: justify;
        margin: 50px auto;
        font-size: 16pt;
        width: 1200px;
        padding-top: 10px;
    }

    .container-grid .content-grid #info {
        margin: 0px auto;
        max-width: 1200px;
    }

    .container-grid .content-grid p {
        margin: 0px 0px 10px 0px;
        text-indent: 30px;
    }

    .container-grid .content-grid #canvas {
        display: block;
        position: relative;
        width: 1200px;
        height: 840px;
        margin: 0px auto;
    }

    .container-grid .content-grid #canvas #control-panel{
        display: block;
    }

    .slider:before {
        display: none;
    }

    #small-screen-warning {
        display: none;
    }
}