.container-grid .content-grid {
    text-align: justify;
    margin: 20px;
    font-size: 14pt;
    background-color: white;
}

.container-grid .content-grid p{
    margin: 0px 0px 10px 0px;
    text-indent: 30px;
}

.container-grid .content-grid p a{
    color: #636b6f;
}

.container-grid .content-grid #canvas {
    display: none;
}

#small-screen-warning {
    display: block;
    color: red;
}

.container-grid .content-grid #canvas #control-panel{
    position: absolute;
}

.container-grid .content-grid #canvas #control-panels{
    position: absolute;
}

.container-grid .content-grid #canvas #control-panel-left {
    position: absolute;
    top: 0;
    left: 0;
}

.container-grid .content-grid #canvas #control-panel-left div{
    position: relative;
}

.container-grid .content-grid #canvas #control-panel-right {
    position: absolute;
    top: 0;
    right: 0;
}

.container-grid .content-grid #canvas #control-panel-right div{
    position: relative;
}

.container-grid .content-grid #canvas #scene-control-panel {
    position: absolute;
    bottom: 0;
    left: 0;
}

.container-grid .content-grid #canvas #scene-control-panel div{
    position: relative;
}

.container-grid .content-grid #canvas .dg.main {
    overflow-y: visible;
}

.dg .cr.function {
    border-left: 3px solid #2FA1D6 !important;
    background-color: #2FA1D6;
    text-align: center;
}

.dg .cr.function .property-name{
    width: 100%;
}

.slider:before {
    display: none;
}
